
#fill { 
    min-height: 100%;
    height: 100%;
}


#width100 {
	width: 100%;
	white-space: normal;
}

#appContainer {
	height: 100%;
}

#shadow-box {
	box-shadow: 5px 5px 2.5px #C7C6C6;
}

#off-white {
	background-color: #EEEEEE;
}
